.heder{
background-color:black;
color: white;
}
.spis{
background-color:black;
color:white;
margin-top: 10px;
font-size: 16px;
}
.srodek{
	background-color: white;
	margin-top: 10px;

}
.lewa
{
margin-top: 10px;
background-color: black;
color: white


}
.stopa{font-size: 20px;
background-color: black;
color: white;
margin-top: 10px;
}

.doom {

	margin-top: 170px;
}